<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead('작성')}">
    <meta charset="UTF-8">
    <title>작성</title>
</head>
<body>
<a th:href="@{/board/list}">
    <button>📃 목록으로</button>
</a>

<h1>💝 게시물 작성</h1>

<form th:action="@{/board/write}" method="post">
    <div>
        <label>제목</label>
        <br>
        <label>
            <input type="text" name="title">
        </label>
    </div>
    <br>

    <div>
        <label>본문</label>
        <br>
        <label>
            <textarea name="content" placeholder="10000자 이내" rows="10" cols="50"></textarea>
        </label>
    </div>
    <br>

    <div>
        <label>작성자</label>
        <br>
        <label>
            <input type="text" name="writer">
        </label>
    </div>
    <br>

    <div>
        <button>🌸 저장하기</button>
    </div>
</form>
<th:block th:replace="~{layout/main::commonScript}"/>
</body>
</html>