<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/main::commonHead('📝 게시물 작성')}">
    <meta charset="UTF-8">
    <title>📝 게시물 작성</title>
</head>
<body class="custom-body">
<div th:replace="~{fragments/main :: navbar}"></div>

<h1>📝 게시물 작성</h1>

<form th:action="@{/board/write}" method="post">

    <div class="mb-3">
        <label>제목</label>
        <input class="form-control" type="text" name="title">
    </div>

    <div class="mb-3">
        <label>본문</label>
        <textarea class="form-control" name="content" rows="10" cols="50" placeholder="10000자 이내"></textarea>
    </div>

    <div class="mb-3">
        <label>작성자</label>
        <input class="form-control" type="text" name="writer">
    </div>

    <div>
        <button class="btn-pink">💾 저장하기</button>
    </div>
</form>
<!-- 공통 스크립트 불러오기 -->
<th:block th:replace="~{fragments/main::commonScript}"/>
</body>
</html>